/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "NYTMagSans-Md";
  src: url("./fonts/NYTMagSans-Md.eot"); /* IE9 Compat Modes */
  src: url("./fonts/NYTMagSans-Md.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/NYTMagSans-Md.otf") format("opentype"), /* Open Type Font */
    url("./fonts/NYTMagSans-Md.svg") format("svg"), /* Legacy iOS */
    url("./fonts/NYTMagSans-Md.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/NYTMagSans-Md.woff") format("woff"), /* Modern Browsers */
    url("./fonts/NYTMagSans-Md.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}